body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  border: 1px solid #404040;
  margin: 1rem;
}

.product-item img {
  width: 100%;
  max-width: 400px;
}

.side-allpage {
  min-height: 100vh;
}

main {
  flex: 1;
}

.product-desc {
  padding: 1rem;
}
